body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.address-box {
    border: 1px solid yellowgreen;
    padding: 10px;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;

}

.container {
    margin-top: 30px;
}

.address-h1 {
    font-style: italic;

}
