.school-footer {

    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}
 

.contact-info {
    margin-bottom: 15px;
}
 

.quick-links ul {
    list-style-type: none; 
    padding: 0; 
}
 
.quick-links li {
    display: inline-block; 
    margin-right: 15px; 
}
 
.quick-links a {
    color: #fff; 
    text-decoration: none; 
}
 

.copyright {
    margin-bottom: 10px; 
}
